<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} | AgroCeres</title>
  {% block css %}{% endblock css %}
</head>
<body>
  <div class="message col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    {% block messages %}{% endblock messages %}
  </div>
  <nav class="navbar navbar-default navbar-fixed-top"><!--start menu-->
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">AgroCeres</a>
    </div>
  </nav><!--End Menu -->
  <br>
  <div class="container">
    <div class="form-signin">
      <div class="page-header">
        <h1 class="title-main">{% block modal_title %}{% endblock modal_title %}</h1>
      </div>
      {% block content %}
      {% endblock content %}
    </div>
    <p class="text-center">
    {% block account_link %}{% endblock account_link%}
    </p>
  </div>
  <footer class="container">
    <p>Copyright 2015 <a class="text-green text-darken-2" href="http://www.playsoft.co" target="_blank">PlaySoft Inc.</a> Todos los derechos reservados.</p>
  </footer>
  {% block js %}{% endblock js %}
  {% block exta_js %}{% endblock exta_js %}
</body>
</html>
