{% extends "./base.html" %}
{% block title %}Cambiar Contraseña{% endblock title %}

{% block card_profile %}
  {% url 'mi_agro' as url_user %}
  {% include "./card_user.html" with farmer_profile=user_profile url_user=url_user name_user=full_name%}
{% endblock card_profile %}

{% block main-menu %}
  {% include "./menu_myfarm.html" with active_update_password="active" profile_in="in"%}
{% endblock main-menu %}

{% block messages %}
  {% include "./messages.html" %}
{% endblock messages %}

{% block container %}
<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'mi_agro' %}">Mi Agro</a></li>
    <li class="active">Cambiar Contraseña</li>
  </ol>
  <div class="page-header">
    <h1 class="title-main">Cambiar Contraseña</h1>
  </div>
  <form method="post" id="form">{% csrf_token %}
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="id_name">Contraseña actual</label>
            {{ form.old_password }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
              <label for="id_summary">Contraseña nueva</label>
                {{ form.new_password1 }}
            </div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label for="id_summary">Confirmar contraseña</label>
              {{ form.new_password2 }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-lg btn-block">Cambiar Contraseña</button>
        </div>
      </div>
  </form>
</div>
{% endblock container %}

{% block extra_js %}
<script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#form").validate({
      rules: {
        old_password: {
          required: true,
        },
        new_password1: {
					required: true,
					minlength: 5
				},
				new_password2: {
					required: true,
					minlength: 5,
					equalTo: "#id_new_password1"
				}
      },
      messages: {
        old_password: "Por favor ingresa tu contraseña",
        new_password1: {
					required: "Por favor ingrese tu nueva contraseña",
					minlength: "Tu contraseña debe de ser de más de 5 caracteres",
				},
        new_password2: {
					required: "Por favor repite tu nueva contraseña",
					minlength: "Tu contraseña debe de ser de más de 5 caracteres",
					equalTo: "Las contraseñas no coinciden",
				},
      }
    });
  });
</script>
{% endblock extra_js %}
