<div class="banner-main">
  <section class="bg-1 text-center" id="image-banner"  style="background: url('{{MEDIA_URL}}{{farm_profile.banner}}') no-repeat fixed center 8px / cover  transparent;">
    <div class="image-upload">
      <label for="file-input-profile" title="Cambiar imagen de perfil">
        <img id="image-profile" style="cursor:pointer" class="img-profile-edit img-circle responsive-img" src={{MEDIA_URL}}{{farm_profile.farm.logo}}>
      </label>
      <input id="file-input-profile" type="file"  accept="image/*"/>
    </div>
    <div class="banner">
      <div class="banner-content no_margin">
        <h3 class="name_profile no_margin">{{ farm_profile.farm.name|title }}</h3>
        <label class="profession_profile no_margin">{{ farm_profile.slogan|title }}</label>
        <p class="no_margin">
        {% if farm_profile.facebook %}
          <a href="http://fb.me/{{farm_profile.facebook}}" target="_blank"><i class="fa fa-facebook icon_profile"></i></a>
        {%endif%}
        {%if farm_profile.twitter%}
          <a href="http://twitter.com/{{farm_profile.twitter}}" target="_blank"><i class="fa fa-twitter icon_profile"></i></a>
        {%endif%}
        {%if farm_profile.web_site %}
          <a href="http://{{farm_profile.web_site}}" target="_blank"><i class="fa fa-globe icon_profile"></i></a>
        {%endif%}
        </p>
        <p><i class="fa fa-map-marker"></i> {{farm_profile.farm.address}} | <i class="fa fa-phone"></i> {{farm_profile.farm.phone}}</p>
      </div>
    </div>
    <div class="image-upload">
      <label for="file-input-bg" class="change-img" title="Cambiar imagen de fondo">
        <i class="fa fa-camera"></i> Cambiar fondo
      </label>
      <input id="file-input-bg" type="file"  accept="image/*"/>
    </div>
  </section>
</div>
