<form enctype="multipart/form-data" method="post" name="comments_form" id="comments_form"> {% csrf_token %}
  <div class="modal fade" id="modal_comments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Publicación</h4>
        </div>
        <div class="modal-body" id="comments-body">
          <div id="comments-list"></div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            {{comments_form.text}}
          </div>
          <div class="footer">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <span class="btn btn-default btn-file"><span class="fileinput-new"><li class="fa fa-camera"></li> Añadir Imagen</span><span class="fileinput-exists">Cambiar</span>{{comments_form.picture}}</span>
              <span class="fileinput-filename"></span>
              <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
            <button name="btn_comments" type="submit" class="btn btn-success btn-block btn-post"><li class="fa fa-pencil-square-o"></li> Comentar</button>
          </div>
          {{comments_form.state}}
        </div>
      </div>
    </div>
  </div>
</form>
