  <meta name="keywords" content="{{m_keywords}}">
  <meta name="description" content="{{m_description}}">
  <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{m_image}}" />
  <meta property="og:title" content="{{m_title}}"/>
  <meta property="og:site_name" content="AgroCeres"/>
  <meta property="og:url" content="{{request.build_absolute_uri}}" />
  <meta property="fb:app_id" content="100738913618415" />
  <meta property="og:description" content="{{m_description}}"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AgroCeres">
  <meta name="twitter:creator" content="@AgroCeres">
  <meta name="twitter:title" content="{{m_title}}">
  <meta name="twitter:description" content="{{m_description}}">
  <meta name="twitter:image" content="http://{{request.META.HTTP_HOST}}{{m_image}}">
