{% extends "./base.html" %}
{% block title %}Calificar Compra N° {{order.id|stringformat:"06d"}}{% endblock title %}

{% block main-menu %}
  {% include "./menu_myfarm.html" with active_my_shopping="active" %}
{% endblock main-menu %}

{% block messages %}
  {% include "./messages.html" %}
{% endblock messages %}

{% block extra_css %}
  <link type="text/css" href="{{STATIC_URL}}css/star-rating.min.css"  rel="stylesheet"/>
{% endblock extra_css %}

{% block container %}
<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'mi_agro' %}">Mi Agro</a></li>
    <li><a href="{% url 'my_shopping' %}">Mis Compras</a></li>
    <li><a href="{% url 'order_buyer' order.id %}">Orden N° {{order.id|stringformat:"06d"}}</a></li>
    <li class="active">Calificar</li>
  </ol>
  <div class="page-header">
    <h1 class="title-main">Orden de Compra <strong>N° {{order.id|stringformat:"06d"}}</strong></h1>
  </div>
  <div class="col-md-12">
    <form method="post" id="form"> {% csrf_token %}
    <div class="pin-content row">
      <div class="col-md-6">
        <h3>Calificar al Vendedor</h3>
        <div class="media">
          <div class="media-left">
            <a href="{% url 'user_profile' order.farm.user %}">
              <img class="img-circle product-image-list" src="{{MEDIA_URL}}{{order.farm.user.avatar}}">
            </a>
          </div>
          <div class="media-body media-nobody">
            <a href="{% url 'user_profile' order.farm.user %}"><h4 class="media-heading">{{order.farm.user.get_full_name}}</h4></a>
            <small>Email: <strong>{{order.farm.user.email}}</strong></small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_communication">Comunicación:</label>
          {{fb_seller.communication}}
        </div>
        <div class="form-group">
          <label for="id_responsibility">Reponsabilidad:</label>
          {{fb_seller.responsibility}}
        </div>
        <div class="form-group">
          <label for="id_quickness">Rapidez:</label>
          {{fb_seller.quickness}}
        </div>
      </div>
      <div class="col-md-12">
        {{fb_seller.observations}}
      </div>
    </div>
    <div class="page-header">
      <h1 class="title-main">Producto</h1>
    </div>
    <div class="pin-content row">
      <div class="col-md-6">
        <div class="media">
          <div class="media-left">
            <a href="{% url 'product' order.product.slug %}">
              <img class="img-circle product-image-list" src="{{MEDIA_URL}}{{order.product.getPicture}}">
            </a>
          </div>
          <div class="media-body media-nobody">
            <a href="{% url 'product' order.product.slug %}"><h4 class="media-heading">{{order.product.name|title}}</h4></a>
            <small>Cantidad: <strong>{{order.quantity}}</strong></small>
          </div>
        </div>
      </div>
      <input type="hidden" name="product" value="{{product.id}}">
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_quality">Calidad:</label>
          {{fb_product.quality}}
        </div>
        <div class="form-group">
          <label for="id_description">Descripción:</label>
          {{fb_product.description}}
        </div>
        <div class="form-group">
          <label for="id_price">Precio:</label>
          {{fb_product.price}}
        </div>
      </div>
      <div class="col-md-12">
        {{fb_product.comment}}
      </div>
    </div>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-success btn-lg btn-block">Calificar Orden</button>
    </div>
    </form>
  </div>
</div>
{% endblock container %}

{% block extra_js %}
  <script src="{{STATIC_URL}}js/star-rating.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
  <script type="text/javascript">
  $( document ).ready(function() {
    $(".feedback").rating({'showCaption':true, 'stars':'5', 'min':'0', 'max':'5', 'step':'1', 'size':'xs', 'starCaptions': {0:'0 Estrellas', 1:'1 Estrella', 2:'2 Estrellas', 3:'3 Estrellas', 4:'4 Estrellas', 5:'5 Estrellas'}});
    $("#form").validate({
      messages: {
        observations: "Este campo es requerido",
        comment: "Este campo es requerido",
      }
    });
  });
  </script>
{% endblock extra_js %}
