<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>AgroCeres</title>

</head>

<body bgcolor="#f6f6f6" style="height: 100%; width: 100% ! important;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif; font-size: 14px; ">

<!-- body -->

<table style="padding: 5px; width: 100%;" bgcolor="#f6f6f6">
  <tr>
    <td>
    </td>
    <td class="container" style="border: 1px solid #f0f0f0;" bgcolor="#FFFFFF">
      <p style="text-align: center; padding: 5px;">
      <img  src="https://dl.dropboxusercontent.com/u/26254610/logo.png" width="50%" alt="logo">
      </p>
      <!-- content -->
      <div class="content">
      <table style="padding: 0px; width: 100%; font-family: &quot;Helvetica Neue&quot;,&quot;Helvetica&quot;,Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6em; margin: 0px;">
        <tr>
          <td style="padding: 5px;">
            <p>Hola <strong>{{fullname}}</strong>,</p>
            <p>{{message}}<strong><a style="color: #8BC34A;text-decoration: none;" href={{url}}> Leer mensaje</a></strong></p>

            <p>
              <hr style="margin-top: 20px;
              margin-bottom: 20px;
              border-width: 1px 0px 0px;
              border-style: solid none none;
              border-color: #EEE -moz-use-text-color -moz-use-text-color;
              -moz-border-top-colors: none;
              -moz-border-right-colors: none;
              -moz-border-bottom-colors: none;
              -moz-border-left-colors: none;
              border-image: none;
              height: 0px;">
              Gracias<br>
              El equipo de <strong>AgroCeres</strong>
            </p>
          </td>
        </tr>
      </table>
      </div>
    </td>
  </tr>
</table>
<p style="text-align: center; padding: 5px;" >Copyright 2016 <a style="color: #8BC34A;text-decoration: none;" href="http://www.aramakao.com">Ara Makao</a>. Todos los derechos reservados.</a>.
</body>
</html>
